full-miiverse-files-main/main/font/miiverse-icons.css

@font-face {
    font-family: 'MiiverseSymbols';
    src: url('MiiverseSymbols-Regular.woff2') format('woff2'),
         url('MiiverseSymbols-Regular.woff') format('woff'),
         url('MiiverseSymbols-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.miiverse-icon {
    font-family: 'MiiverseSymbols';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    line-height: 1;
}
