@font-face {
    font-family: 'MiiverseSymbols';
    src: url('MiiverseSymbols-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.miiverse-icon {
    font-family: 'MiiverseSymbols';
    font-size: 32px;
}
