
.mk8 {
 width: 150px;
 margin-left: 200px;
 margin-top: -350px;
 border-radius: 25px;
 box-shadow:0 10px 20px rgba(0,0,0,0.5);
    pointer-events: auto;
    z-index: 10;
}


.separator1 {
  position: absolute;

}


.amke01 {
  margin-top: -320px;
  margin-left: 370px;
 font-family: "MiiverseFont";
   pointer-events: auto;
    z-index: 10;

}

.shantae_icon {
 width: 150px;
 margin-left: 920px;
 margin-top: -355px;
 border-radius: 25px;
 box-shadow:0 10px 20px rgba(0,0,0,0.5);

}

.shantae_title {
  margin-left: 1090px;
  color: rgb(43, 43, 43);
 font-family: "MiiverseFont";
 margin-top: -320px;
 font-size: 15px;
}

.squid_game_lol {
  margin-top: -100px;
  width: 150px;
  margin-left: 200px;
  border-radius: 25px;
 box-shadow:0 10px 20px rgba(0,0,0,0.5);
}

.squid_game_lol_text {
 margin-left: 380px;
 margin-top: -120px;
 font-family: "MiiverseFont";


}

.MinecraftIcon {
 margin-top: -820px;
 margin-left: 920px;
 border-radius: 25px;
 box-shadow:0 10px 20px rgba(0,0,0,0.5);
 width: 150px;
 
}

.MinecraftText {
 margin-left: 1100px;
 margin-top: -800px;
 font-family: "MiiverseFont";
}

.separator1,
.separator2,
.separator3,
.separator4 {
    width: 640px;         /* ANCHO DEL SEPARADOR */
    height: 0;            /* SIN ALTURA */
    border-bottom: 5px dashed #aaaaaa;
    border-radius: 40px;

    position: absolute;   /* TODOS ABSOLUTOS */
}

/* Ajustes individuales */
.separator1 {
    top: 810px;   /* AJUSTA SI REQUIERE */
    left: 200px;
}

.separator2 {
    top: 810px;
    left: 910px;
}

.separator3 {
    top: 570px;
    left: 200px;
}

.separator4 {
    top: 570px;
    left: 900px;
}

/* Iconos Miiverse */
@font-face {
    font-family: 'MiiverseSymbols';
    src: url('MiiverseSymbols-Regular.woff2') format('woff2'),
         url('MiiverseSymbols-Regular.woff') format('woff'),
         url('MiiverseSymbols-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Iconos del navegador Wii U (cursor, puntitos, flechas grandes, loader) */
@font-face {
    font-family: 'RWWidgets';
    src: url('rw-widgets.woff2') format('woff2'),
         url('rw-widgets.woff') format('woff'),
         url('rw-widgets.ttf') format('truetype'),
         url('rw-widgets.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

/* Clase general */
.miiverse-icon {
    font-family: 'MiiverseSymbols', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
}

/* Clase para los cursores del Wii U */
.wiiu-icon {
    font-family: 'RWWidgets', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
}

@font-face {
    font-family: "MiiverseSymbols";
    src: url("MiiverseSymbols-Regular.woff2") format("woff2"),
         url("MiiverseSymbols-Regular.woff") format("woff"),
         url("MiiverseSymbols-Regular.ttf") format("truetype");
}

.card-icon {
  font-family: 'MiiverseSymbols';
}

