
.mk8 {
 width: 150px;
 margin-left: 200px;
 margin-top: -350px;
 border-radius: 25px;
 box-shadow:0 10px 20px rgba(0,0,0,0.5);
}

.amke01 {
  margin-top: -320px;
  margin-left: 370px;
  color: rgb(43, 43, 43);
 font-family: "MiiverseFont";
}

.shantae_icon {
 width: 150px;
 margin-left: 920px;
 margin-top: -355px;
 border-radius: 25px;
 box-shadow:0 10px 20px rgba(0,0,0,0.5);

}

.shantae_title {
  margin-left: 1090px;
  color: rgb(43, 43, 43);
 font-family: "MiiverseFont";
 margin-top: -320px;
}

.squid_game_lol {
  margin-top: -100px;
  width: 150px;
  margin-left: 200px;
  border-radius: 25px;
 box-shadow:0 10px 20px rgba(0,0,0,0.5);
}

.squid_game_lol_text {
 margin-left: 380px;
 margin-top: -120px;
 font-family: "MiiverseFont";


}

.MinecraftIcon {
 margin-top: -820px;
 margin-left: 920px;
 border-radius: 25px;
 box-shadow:0 10px 20px rgba(0,0,0,0.5);
 width: 150px;
 
}

.MinecraftText {
 margin-left: 1100px;
 margin-top: -800px;
 font-family: "MiiverseFont";
}

