

.back {
 position: fixed;
 margin-top: -105px;
 margin-right: 700px;

}


.welcome {
    font-family: "'NintendoNTLG", sans-serif;
    color: #ff0015;  
    margin-top: -590px;
    margin-left: 590px;

}


.icon {
 width: 120px;
 margin-top: -800px;

}


.MiiverseSymbols-Regular {
width: 250PX;
margin-top: -60;
margin-left: 1390px;
}