@font-face {
    font-family: 'MiiverseSymbols';
    src: url('https://github.com/amkr01/Makiiverse/raw/refs/heads/main/font/MiiverseSymbols-Regular.ttf?raw=1') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-test {
    font-family: 'MiiverseSymbols';
    font-size: 40px;
}
