@font-face {
  font-family: 'MiiverseSymbols';
  src: url('MiiverseSymbols-Regular.woff2') format('woff2'),
       url('MiiverseSymbols-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
