@font-face {
    font-family: 'MiiverseSymbols';
    src: url('MiiverseSymbols-Regular.woff') format('woff'),
         url('MiiverseSymbols-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
